.page-view {
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
}

.page-view.A4 {
  width: 300px;
  height: 300px;
  overflow-y: hidden;
}

.page-view.A3 {
  width: 400px;
  height: 400px;
  overflow-y: hidden;
}

.page-view.Infinite {
  width: 500px;
}