.ProseMirror:focus-visible {
  outline: none;
}

.page-view {
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  column-gap: 2em;
  column-rule: 1px solid #ccc;
  column-fill: auto;
}

.page-view p {
  word-wrap: break-word;
}

.page-view.A4 {
  column-width: 300px;
  height: 300px;
}

.page-view.A3 {
  column-width: 400px;
  height: 400px;
}

.page-view.Infinite {
  width: 500px;
}